/*Override style Class Bootstrap*/
.navbar-expand-lg .navbar-nav{
    gap: 40px;
}

.hero-section{
    padding: 100px 0px;
    .hero-caption{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

}

/* .is-active{
    border: 5px solid #dedede;
} */

.custom-navbar{
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    background: #fff;
    opacity: 0.9;

    .right-menu{
        display: flex;
        float: right;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .right-menu-item{
            a {
                color: #666;
                text-decoration: none;
            }
            .bi-list, .bi-x-lg{
                font-size: 30px;
            }
        }
    }
    .list-menu-wrap{
        position: absolute;
        right: 0;
        text-align: right;
        background: #fff;
        opacity: 0.9;
        padding: 30px 30px 30px 80px;
        display: none;
        .list-menu-item{
            a {
                color: #666;
                text-decoration: none;
                display: block;
                padding: 10px 0px;
            }
        }
    }
}
